body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  padding: 30px 130px 30px 130px;
  gap: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b1845;
  color: #ffffff;
  z-index: 2;
}

.header_logo {
  text-decoration: none;
  color: #fff;
}

header .company-name {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
  text-wrap: nowrap;
}

header .header-navigation {
  display: flex;
  justify-content: space-between;
  flex-basis: 580px;
}

.header-navigation a {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

#burger-menu {
  display: none;
}

#close-burger-menu {
  display: none;
}

.header-navigation-mobile-container {
  display: none;
}

.header-navigation-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-navigation-mobile a {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
  header {
    position: sticky;
    z-index: 3;
  }

  header .header-navigation {
    display: none;
  }

  #burger-menu.active {
    display: contents;
  }

  #close-burger-menu {
    display: none;
  }

  #close-burger-menu.active {
    display: contents;
  }

  .header-navigation-mobile-container.active {
    position: absolute;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0b1845;
    padding: 20px;
    z-index: 2;
    animation: slideDown 1s ease 0s 1 normal forwards;
  }

  .header-navigation-mobile-container h2 {
    margin-top: 0;
    font-size: 1.125rem;
    font-weight: 700;
    color: #ffffff;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 20px;
  }

  header .company-name {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
  }
}

main {
  padding: 80px 130px;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  main {
    padding: 0 0 50px 0;
    background-color: #ffffff;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero p {
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  flex-basis: 580px;
  text-transform: uppercase;
}

.hero .img-container {
  flex-basis: 580px;
}

.hero .img-container img {
  width: 100%;
  border-radius: 15px;
}

@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column-reverse;
  }

  .hero p {
    margin: 10px 0 0 0;
    flex-basis: auto;
    font-size: 1.75rem;
    text-align: center;
  }

  .hero .img-container {
    flex-basis: auto;
  }
}

@media screen and (max-width: 768px) {
  .hero .img-container img {
    border-radius: 0 0 15px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .img-container img {
    width: 580px;
  }
}

.clubs {
  margin-top: 80px;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1200px) {
  .clubs {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .clubs {
    padding: 0px;
  }
}

.clubs .club-card {
  flex-basis: 540px;
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #0b1845;
  padding: 20px;
  border-radius: 15px;
  color: #ffffff;
}

.club-card .img-container {
  margin: auto;
  width: 210px;
}

.club-card .img-container img {
  width: 100%;
}

.club-card h2 {
  text-align: center;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.club-card p {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.club-card p strong {
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: underline;
}

.bonus {
  display: flex;
  gap: 5px;
}

.bonus p {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.bonus strong {
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: underline;
  text-wrap: nowrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.list-marker {
  width: 1rem;
  height: 1rem;
  border-radius: 5px;
  background-color: #3b68dd;
}

.button-container {
  width: 100%;
  border-top: 1px solid #3b68dd;
  padding-top: 20px;
  display: flex;
}

.button-container a {
  text-decoration: none;
  width: 100%;
  background-color: #3b68dd;
  color: #ffffff;
  border: none;
  text-align: center;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.platforms {
  margin-top: 80px;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .platforms {
    padding: 0px;
  }
}

.platforms h1 {
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: "Rubic", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #0b1845;
}

.platforms-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.platform {
  background-color: #0b1845;
  border-radius: 15px;
  flex-basis: 380px;
  flex-shrink: 1;
  flex-grow: 1;
}

@media screen and (max-width: 1024px) {
  .platforms h1 {
    font-size: 1.5rem;
  }

  .platforms-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .platform {
    max-width: 320px;
    height: 345px;
  }
}

.platform img {
  object-fit: fill;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.platform div {
  padding: 10px 20px 20px 20px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.platform h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.platform p {
  margin: 5px 0 0 0;
  font-size: 0.75rem;
  font-weight: 400;
}

footer {
  font-family: "Rubik", sans-serif;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #0b1845;
  color: #ffffff;
}

.partners-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.partners-container img {
  max-height: 40px;
}

.restriction {
  width: 300px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  color: #ffffff;
  font-size: 3.125rem;
  font-weight: 900;
  text-align: center;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.nav-container h2 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-navigation a {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

footer .company-name {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

footer .copyright {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .nav-container {
    gap: 20px;
  }

  .footer-navigation {
    flex-direction: column;
    gap: 10px;
  }

  footer .company-name {
    font-size: 1.125rem;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.blurred {
  filter: blur(4px);
  transition: filter 0.3s ease;
}

.backdrop {
  transition: opacity 0.3s ease;
}

/* .about {
  padding: 50px 20px;
} */

/* @media screen and (min-width: 1200px) {
  .about {
    padding: 100px 0px;
  }
} */

@media screen and (max-width: 768px) {
  .about {
    padding: 50px 20px;
  }
}

/* contact */
/* Стили для формы контактов */
.contact-form {
  background: #0b1845;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin: 10px 0 5px;
  color: #fff;
  text-align: left;
  width: 90%;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #33333375;
  color: #fff;
}

.contact-form button {
  cursor: pointer;
  background: #fff;
  color: #0b1845;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s ease;

  text-decoration: none;
  /* width: 100%; */
  width: 280px;
  background-color: #3b68dd;
  color: #ffffff;
  border: none;
  text-align: center;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* .contact-form button:hover {
  background: #d4c728;
} */

/* Стили модального окна */
.modal {
  display: none; /* По умолчанию скрыто */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex; /* Показать модальное окно */
}

.modal-content {
  background: #0b1845;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  max-width: 500px;
  text-align: center;
}

.modal-content p {
  margin-bottom: 15px;
}

.modal-content button {
  background: #fff;
  color: #0b1845;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

/* .modal-content button:hover {
  background: #d4c728;
} */

@media (max-width: 600px) {
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    padding: 8px;
  }

  .modal-content {
    width: 90%;
  }
}
